<!-- <p>all-candidats works!</p>

<div class="row" style="max-height: 200px;">
  <div class="col-xs-12">

    <a routerLink="/profil"
       *ngFor="let candidate of candidates"
       class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="list-group-item-heading"> {{ candidate?.nom}}    {{ candidate?.prenom }} </h5>
      </div>
        <p >{{candidate?.titre}}</p>
        <p>{{candidate?.adress}}</p>
        <p>{{candidate?.tel}}</p>
    </a>
  </div>
</div>
<hr> -->
<main role="main" class="view-organization screen">
  <div class="container container-view">
    <div class="container_header header"></div>
    <div class="container_content">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="e2e-header-title">Candidates list</h2>
            </div>
            <div class="col-sm-6">
              <a
                class="btn btn-success"
                data-toggle="modal"
                [routerLink]="['save']"

                ><i class="fas fa-plus"></i> <span>Add New</span></a
              >
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover e2e-table-organization">
          <thead>
            <tr>
              <th class="e2e-thead-name">First name</th>
              <th class="e2e-thead-description">Last name</th>
              <th class="e2e-thead-action">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="e2e-rows-organizations"
              *ngFor="let candidate of candidates; let index = index"
            >
              <td>
                <a class="e2e-row-name"> {{ candidate.nom }}</a>
              </td>
              <td>{{ candidate.prenom }}</td>
              <td>
                <!--                 <a class="settings" title="detail"
                  [routerLink]="['detail', organization.id]"
                  >
                    <i class="far fa-eye"></i>
                  </a> -->
                <a
                  [routerLink]="[candidate.id, 'offre']"
                  class="edit e2e-edit"
                  title="Edit"
                >
                  <i class="far fa-edit"></i>
                </a>
                <a
                  class="delete"
                  title="Delete"
                  (click)="deleteOrg(candidate.id)"
                >
                  <i class="far fa-trash-alt"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <!--         <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
              <li class="page-item disabled"><a href="#">Previous</a></li>
              <li class="page-item"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item active">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div> -->
      </div>
    </div>
  </div>
</main>

