<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="index.html">Home</a> <span class="active"> / Connection</span>
    </li>
  </ol>

  <div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">Se connecter</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">Connecter vers ton compte</h3>
            <p class="text-center text-muted">
              si vous n'avais pas déjà d'un compte
              <a class="" routerLink="/signUp">créer</a>
            </p>

            <hr />

            <form [ formGroup ]="loginForms">
              <div class="top-margin">
                <label>Login <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="userName"
                  id="post"
                  name="offreName"
                />
              </div>
              <div class="top-margin">
                <label>Mot de passe <span class="text-danger">*</span></label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  id="post"
                  name="password"
                />
              </div>

              <hr />

              <div class="row">
                <div class="col-lg-8">
                  <b><a href="">Mot de passe oublié?</a></b>
                </div>
                <div class="col-lg-4 text-right">
                  <button class="btn btn-action" type="submit">
                    Se connecter
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </article>
    <!-- /Article -->
  </div>
</div>
