<div class="container">
  <div class="row card-container align-items-center">
    <div class="card col-4">
      <img
        class="card-img-top h-em"
        src="assets\images\cond-space.png"
        alt="Espace candidat"
      />
      <div class="card-body">
        <h5 class="card-title">Espace candidat</h5>
        <p class="card-text">
          Si vous chercherez un emploi, consulter nos offres et postuler en un
          click
        </p>
        <a routerLink="/offres" class="btn btn-primary"
          >Vers l'espace candidat</a
        >
      </div>
    </div>

    <div class="card col-4">
      <img
        class="card-img-top"
        src="assets\images\entreprise.png"
        alt="Espace entreprise"
      />
      <div class="card-body">
        <h5 class="card-title">Espace entreprise</h5>
        <p class="card-text">
          Si vous souhaitez gérer vos candudatures et diffuser vos offres, nous
          offrirons la meilleur solution
        </p>
        <a routerLink="/entreprise/myOffres" class="btn btn-primary"
          >Vers l'espace entreprise</a
        >
      </div>
    </div>
  </div>
</div>
