<div class="row container card-container align-items-center">
  <div class="card col-4">
    <img
      class="card-img-top"
      src="assets\images\cond-space.png"
      alt="Espace candidat"
    />
    <div class="card-body">
      <h5 class="card-title">Espace candidat</h5>
      <p class="card-text">
        Si vous chercherez un emploi, consulter nos offres et postuler en un
        click
      </p>
      <a routerLink="/offres" class="btn btn-primary">Vers l'espace candidat</a>
    </div>
  </div>

  <div class="card col-4">
    <img
      class="card-img-top"
      src="assets\images\entreprise.png"
      alt="Espace entreprise"
    />
    <div class="card-body">
      <h5 class="card-title">Espace entreprise</h5>
      <p class="card-text">
        Si vous souhaitez gérer vos candudatures et diffuser vos offres, nous
        offrirons la meilleur solution
      </p>
      <a routerLink="/entreprise/myOffres" class="btn btn-primary"
        >Vers l'espace entreprise</a
      >
    </div>
  </div>
</div>
<!-- <div class="navbar navbar-inverse navbar-fixed-top headroom">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"
        ><img src="assets/images/logo.png" alt="Progressus HTML5 template"
      /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >More Pages <b class="caret"></b
          ></a>
          <ul class="dropdown-menu">
            <li><a href="sidebar-left.html">Left Sidebar</a></li>
            <li class="active">
              <a href="sidebar-right.html">Right Sidebar</a>
            </li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>
      </ul>
    </div>
  </div>
</div>


<header id="head">
  <div class="container">
    <div class="row">
      <h1 class="lead">AWESOME, CUSTOMIZABLE, FREE</h1>
      <p class="tagline">
        PROGRESSUS: free business bootstrap template by
        <a
          href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus"
          >GetTemplate</a
        >
      </p>
      <p>
        <a class="btn btn-default btn-lg" role="button">MORE INFO</a>
        <a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a>
      </p>
    </div>
  </div>
</header>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/template.js"></script>
 -->

<div style="background-image: url('../../assets/images/bg_header.jpg')"></div>
