<div class="container">
  <h1>Creation d'une offres</h1>
  <br />
  <form [ formGroup ]="offreCreationForms">
    <fieldset>
      <div class="form-group">
        <label for="post">Entrez le nom du offre</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          id="post"
          name="offreName"
        />
      </div>
      <br />

      <div class="form-group">
        <label for="bio">Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          id="desc"
          rows="3"
          placeholder="décrire la poste"
          name="offreDesc"
        ></textarea>
      </div>
      <br />
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!offreCreationForms.valid"
        (click)="onCreatePost()"
      >
        Envoyer
      </button>
    </fieldset>
  </form>
</div>
