<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="index.html">Home</a> <span class="active"> / User access</span>
    </li>
  </ol>

  <div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">Sign in</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">Sign in to your account</h3>
            <p class="text-center text-muted">
              Lorem ipsum dolor sit amet,
              <a class="" routerLink="/signUp">Register</a> adipisicing elit.
              Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur
              omnis odio.
            </p>
            <hr />

            <form [ formGroup ]="loginForms">
              <div class="top-margin">
                <label>Username <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="userName"
                  id="post"
                  name="offreName"
                />
              </div>
              <div class="top-margin">
                <label>Password <span class="text-danger">*</span></label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  id="post"
                  name="password"
                />
              </div>

              <hr />

              <div class="row">
                <div class="col-lg-8">
                  <b><a href="">Forgot password?</a></b>
                </div>
                <div class="col-lg-4 text-right">
                  <button class="btn btn-action" type="submit">Sign in</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </article>
    <!-- /Article -->
  </div>
</div>
<!-- main app container -->
<!-- <div class="container container-view">
  <main role="main" class="view-organization screen">
    <div class="card m-3">
      <h5 class="card-header">Postuler pour cette offre</h5>
      <div class="card-body">
        <form [formGroup]="postulerForm">
          <div class="form-row">
            <label>Nom <span class="required">*</span></label>
            <input
              type="text"
              formControlName="candidatName"
              class="form-control"
              name="candidatName"
            />
            <small
              *ngIf="
                candidatName.errors?.required &&
                (candidatName.touched || candidatName.dirty)
              "
              class="form-text text-danger"
              >The candidat first Name is required</small
            >
          </div>
          <div class="form-row">
            <label>prénom <span class="required">*</span></label>
            <input
              type="text"
              formControlName="candidatLastName"
              class="form-control"
              name="candidatLastName"
            />
            <small
              *ngIf="
                candidatLastName.errors?.required &&
                (candidatLastName.touched || candidatLastName.dirty)
              "
              class="form-text text-danger"
              >The candidat Last Name is required</small
            >
          </div>
          <div class="form-row">
            <label>Email <span class="required">*</span></label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              name="email"
            />
            <small
              *ngIf="
                email &&
                email.errors?.required &&
                (email.touched || email.dirty)
              "
              class="form-text text-danger"
              >e-mail is required,
            </small>
            <small
              *ngIf="email && email.touched && email.invalid"
              class="form-text text-danger"
              >email pattern should be like: xxxxx@xxxx.xxx
            </small>
          </div>

          <div class="form-row">
            <label>CV <span class="required">*</span></label>
            <input class="form-control" type="file" formControlName="cv" />
            <small
              *ngIf="
                (cv.errors?.required && (cv.touched || cv.dirty)) || cv.invalid
              "
              class="form-text text-danger"
            >
              The candidat CV is required</small
            >
          </div>

          <div class="text-center" id="deletePostuler">
            <button
              class="btn btn-secondary"
              type="reset"
              (click)="postulerForm.reset()"
            >
              supprimer
            </button>
            <button
              class="btn btn-primary mr-1"
              id="postuleBtn"
              (click)="onPostuler()"
              [disabled]="!postulerForm.valid"
            >
              postuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <div class="container_header header"></div>
</div>
 -->
