.card {
  width: 69%;
  height: 100%;
}
.form-row {
  margin: 20px;
}
.btn btn-primary mr-1 {
  float: right;
}
.card-header {
  background: #435d7d;
  color: white;
}
.btn-secondary {
  color: #fff;
  background-color: #d12020;
  border-color: #d12020;
  margin-right: 1%;
}

#postuleBtn {
  background: #257d29;
  color: white;
  border: #257d29;
}

.container-view {
  padding-left: 18%;
}
.card-body {
  background: #bec0c2;
}
._ngcontent-cmo-c53 {
  color: white;
}
.required {
  color: red;
}
#deletePostuler {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
}
.m-3 {
  margin: 4rem !important;
}
