<main role="main" class="view-organization">
  <div class="container container-view">
    <div class="container_header header"></div>
    <div class="container_content">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row header-container">
            <h2 class="header-title">Mes offres</h2>
            <input
              class="form-control"
              type="text"
              name="search"
              [(ngModel)]="searchText"
              autocomplete="off"
              placeholder="&#61442; Rechercher une offre "
            />
            <a
              class="btn btn-success add-offre"
              data-toggle="modal"
              [routerLink]="['formulaire']"
              ><i class="fas fa-plus" pTooltip="ajouter une offre"></i>
            </a>
          </div>
        </div>

        <table class="table table-striped table-hover e2e-table-organization">
          <thead>
            <tr>
              <th class="thead-name">Poste</th>
              <th class="thead-description">Description</th>
              <th class="thead-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="e2e-rows-organizations"
              *ngFor="let myOffr of offresTab | filter: searchText"
            >
              <td>
                <a
                  [routerLink]="[myOffr.id]"
                  [state]="myOffr.condidatures"
                  pTooltip="Consulter la liste des candidats de cette offre"
                >
                  {{ myOffr.titre }}</a
                >
              </td>
              <td>{{ myOffr.description }}</td>
              <td class="actions">
                <a class="masquer">
                  <i
                    *ngIf="!myOffr.masque"
                    class="far fa-eye"
                    pTooltip="Masquer cette offre"
                    (click)="masquerOffre(myOffr, true)"
                  ></i>
                  <i
                    *ngIf="myOffr.masque"
                    class="fas fa-eye-slash"
                    pTooltip="Afficher cette offre"
                    (click)="masquerOffre(myOffr, false)"
                  ></i>
                </a>
                <a class="edit">
                  <i
                    class="far fa-edit"
                    pTooltip="modifier l'offre de {{ myOffr.titre }}"
                    [routerLink]="['formulaire', myOffr]"
                  ></i>
                </a>
                <a class="delete" (click)="deleteOffre(myOffr.id)">
                  <i class="far fa-trash-alt" pTooltip="supprimer offre"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
