<main role="main" class="view-offre screen">
  <div class="container container-view">
    <div class="container_header header"></div>
    <div class="container_content">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <h2 class="col-sm-4">Liste des offres</h2>
            <input
              class="form-control w-50 col-sm-4"
              type="text"
              name="search"
              [(ngModel)]="searchText"
              autocomplete="off"
              placeholder="&#61442; Rechercher un offre"
            />
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="name">Name</th>
              <th class="description">Description</th>
              <th class="thead-description">Société</th>
              <th class="thead-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offre of offres | filter: searchText">
              <td>
                <a class="e2e-row-name"> {{ offre.titre }}</a>
              </td>
              <td>{{ offre.description }}</td>
              <td>{{ offre.entreprise.username }}</td>
              <td>
                <a [routerLink]="[offre.id]" class="edit">
                  <button type="button" class="btn btn-success">
                    Postuler
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
